<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Mihaita - Project3 | Register Page</title>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<meta
			http-equiv="X-UA-Compatible"
			content="ie=edge"
		/>
		<link
			rel="stylesheet"
			href="/css/style.css"
		/>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="container">
			<!-- Sign up form -->
			<section class="signup">
				<div class="container">
					<div class="signup-content">
						<div class="signup-form">
							<h2 class="form-title">Register Page | Project 3</h2>
							<div>
								<% if(errors != "") { %> <% errors.forEach((item) => { %>
								<div class="alert alert-danger"><%- item %></div>
								<% }); %> <% } %>
							</div>
							<form
								id="register-form"
								method="POST"
								action="/register"
								class="register-form"
							>
								<div class="form-group">
									<label for="name"
										><i class="zmdi zmdi-account material-icons-name"></i
									></label>
									<input
										id="user"
										type="text"
										name="user"
										placeholder="Your Name"
									/>
								</div>
								<div class="form-group">
									<label for="email"><i class="zmdi zmdi-email"></i></label>
									<input
										type="email"
										name="email"
										id="email"
										placeholder="Your Email"
									/>
								</div>
								<div class="form-group">
									<label for="pass"><i class="zmdi zmdi-lock"></i></label>
									<input
										type="password"
										name="password"
										id="password"
										placeholder="Password"
									/>
								</div>
								<div class="form-group">
									<label for="re-pass"
										><i class="zmdi zmdi-lock-outline"></i
									></label>
									<input
										type="password"
										name="passwordConfirmation"
										id="passwordConfirmation"
										placeholder="Repeat your password"
									/>
								</div>
								<div class="form-group form-button">
									<input
										type="submit"
										name="signup"
										id="signup"
										class="form-submit"
										value="Register"
									/>
								</div>
							</form>
						</div>
						<div class="signup-image">
							<figure>
								<img
									src="images/signup-image.jpg"
									alt="sing up image"
								/>
							</figure>
							<a
								href="/login"
								class="signup-image-link"
								style="font-size: 1rem"
								>You already have an account?</a
							>
						</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>
